<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_4_DTNhatNMPhuongPTNguyenNVNam_LTNET.Properties.Settings.qlkhachsanConnectionString"
            connectionString="Data Source=DESKTOP-I3CH2RE\SQLEXPRESS;Initial Catalog=qlkhachsan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="_4_DTNhatNMPhuongPTNguyenNVNam_LTNET.Properties.Settings.khachsannetConnectionString"
            connectionString="Data Source=DESKTOP-I3CH2RE\SQLEXPRESS;Initial Catalog=khachsannet;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>